/* Estilo padrão */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #f7ff0b;
    padding: 10px 20px;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
}

nav ul li a:hover {
    color: #ffffff;
    background-color: #000000;
    border-radius: 5px;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 20px 20px;
    text-align: center;
}

footer p {
    color: #ffffff;
    margin: 0;
}

/* Media Queries para responsividade */

/* Para telas pequenas (móveis) */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin: 10px 0;
    }

    #carrossel img {
        width: 100%;
        height: auto;
    }

    #contato form input,
    #contato form textarea {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }

    footer .social-media {
        display: flex;
        justify-content: center;
        margin-bottom: 10px;
    }

    footer .social-media a {
        margin: 0 10px;
    }
}

/* Para telas maiores, como desktops */
@media (min-width: 769px) {
    nav ul {
        display: flex;
        justify-content: space-around;
    }

    #carrossel img {
        width: 100%;
        height: auto;
    }
}

.games-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    
}

.games-list {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
}


.game-item {
    background-color: #f0f0f0;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    width: 250px;
    text-align: center;
    transition: transform 0.2s;
}


.game-item:hover {
    transform: scale(1.05);
}

.game-team {
    font-size: 18px;
    font-weight: bold;
    color: #333;
}

.game-time {
    margin-top: 10px;
    font-size: 16px;
    color: #777;
}

.game-date {
    font-size: 14px;
    color: #888;
}


@media (max-width: 768px) {
    .games-list {
        justify-content: space-between;
        padding: 0 15px;
    }

    .game-item {
        width: 100%; 
        margin-bottom: 15px; 
    }

    h2 {
        font-size: 22px; 
    }
}


@media (max-width: 480px) {
    .game-item {
        width: 100%; 
        padding: 10px;
    }

    h2 {
        font-size: 20px; 
    }

    .game-team {
        font-size: 16px; 
    }

    .game-time {
        font-size: 14px; 
    }

    .game-date {
        font-size: 12px; 
    }
}


@media (min-width: 1200px) {
    .game-item {
        width: 300px; 
    }

    h2 {
        font-size: 26px; 
    }
}
